<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>bd-web</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>PostgreSQL de ElephantSQL</description>
    <res-ref-name>jdbc/postgres</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <description></description>
    <display-name>AlumnosController</display-name>
    <servlet-name>AlumnosController</servlet-name>
    <servlet-class>controlador.AlumnosController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlumnosController</servlet-name>
    <url-pattern>/AlumnosController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AsignaturasController</display-name>
    <servlet-name>AsignaturasController</servlet-name>
    <servlet-class>controlador.AsignaturasController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AsignaturasController</servlet-name>
    <url-pattern>/AsignaturasController</url-pattern>
  </servlet-mapping>
</web-app>